.hamburgerMenuContainer {
	position: relative;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 50%;
	height: 100%;
	background: var(--color-1);
	text-align: center;
	transition: transform 0.3s ease-in-out;
	transform: translateX(-100%);
	overflow-y: scroll;
}

.hamburgerTitle {
	padding: 1rem;
	color: var(--color-3);
	font-weight: 600;
	font-size: 1.4rem;
	width: 100%;
	text-align: center;
}

.hamburgerMenuClosed {
	transform: translateX(-100%);
}

.hamburgerMenuOpen {
	transform: translateX(0%);
}
