.hamburgerMenuContainer {
	position: relative;
	top: 0;
	bottom: 0;
	max-height: 85vh;
	background: var(--color-1);
	text-align: center;
	transition: transform 0.3s ease-in-out;
	transform: translateX(-200%);
	overflow-y: hidden;
	z-index: 100;
}

.sidebarItems {
	max-height: 80%;
	overflow-y: auto;
}

.hamburgerTitle {
	padding: 1rem;
	color: var(--color-3);
	font-weight: 600;
	font-size: 1.4rem;
	width: 100%;
	text-align: center;
}

.hamburgerMenuClosed {
	animation: slideOut 0.5s ease-in-out forwards;
}

.hamburgerMenuOpen {
	width: clamp(50vw, 70vw, 90vw);
	animation: slideIn 0.5s ease-in-out forwards;
}

@keyframes slideIn {
	from {
		width: 0%;
		transform: translateX(-200%);
	}
	to {
		width: 80%;
		transform: translateX(0%);
	}
}

@keyframes slideOut {
	from {
		width: 80%;
		transform: translateX(0%);
	}
	to {
		width: 0%;
		transform: translateX(-200%);
	}
}

@media screen and (min-width: 640px) {
	.hamburgerMenuContainer {
		display: none;
	}
}
