.pokedexContainer {
	position: relative;
	margin-top: 5rem;
	z-index: 50;
}

.pokedexComponent {
	width: 75%;
	height: 100%;
	padding: 1rem 0.2rem;
	z-index: 50;
}

.sidebar {
	position: fixed;
	top: 0;
	right: 0;
	width: 25%;
	height: clamp(75vh, 60%, 100%);
	margin-top: 5.5rem;
	min-height: 10rem;
	background: var(--color-1);
}

@media (max-width: 640px) {
	.pokedexComponent {
		display: flex;
		width: 100%;
	}
	.sidebar {
		display: none;
	}
}
