.pokedexContainer {
	display: grid;
	grid-template-columns: 3fr 1fr;
	grid-template-areas: "pokedex sidebar";
	animation: fadeIn 0.5s;
}

.pokedex {
	margin-top: 5rem;
	grid-area: pokedex;
}

.sidebar {
	margin-top: 5.5rem;
	grid-area: sidebar;
	min-height: 10rem;
	background: var(--color-1);
}

@keyframes fadeIn {
	from {
		opacity: 0;
	}
	to {
		opacity: 1;
	}
}

@media (max-width: 640px) {
	.pokedexContainer {
		grid-template-columns: 100%;
		grid-template-areas:
			"pokedex"
			"sidebar";
	}
	.pokedex {
		grid-row: 2;
	}
	.sidebar {
		display: none;
		position: fixed;
		margin-top: 4.5rem;
		grid-row: 1;
		width: 100%;
	}
}
