:root {
	--color-1: hsl(213, 57%, 52%);
	--color-2: hsl(209, 100%, 22%);
	--color-3: hsl(48, 100%, 51%);
}

* {
	box-sizing: border-box;
}

html {
	overflow-x: hidden;
	height: 100%;
	width: 100%;
}

body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}
